# Runtime requirements
--requirement requirements.txt

# Testing
pytest

# Profiling
pyinstrument

# Linting/Tooling
ruff
black
black[jupyter]
mypy

# Packaging
twine

# Documentation
mkdocs
mkdocstrings
mkdocstrings[python]
mkdocs-material
Pygments
python-markdown-math
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
mkdocs-same-dir
mkdocs-autorefs